body {
	background-color: #222D32;
	font-family: "Poppins", sans-serif;
	height: 100vh;
}

.form-control {
	text-align: center;
	margin-bottom: 10px;
}

label {
	color: aliceblue;
}

.center {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
}

.btn {
	align-items: center;
	width: 100%;
	padding: 6px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.outPopUp {
	position: absolute;
	width: 350px;
	z-index: 15;
	top: 30%;
	left: 50%;
	margin: -100px 0 0 -150px;
}

.has-error .help-block {
	color: red;
}

.logo {
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}

#registerForm {
	position: absolute;
	width: 350px;
	z-index: 15;
	top: 30%;
	left: 50%;
	margin: -100px 0 0 -150px;
}

#passwordRegister {
	margin-bottom: 25px;
}